 <div class="user-details">
  <h1> Tools of the Trade </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <!--
    -->
    <div class="tech">
      <h2>In Training</h2>
      <i class="devicon-django-plain colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <p>Continued education.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>Most used programming languages.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <!--<i class="devicon-django-plain"></i>-->
      <p>Favorite tools.</p>
    </div>
</div>
