<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> QLOPT </h3>
    <ul>
      <li> C++ | Parameter Estimation </li>
    </ul>
    <p>Software for determining the local optimal solution for the inverse problem of finding the parameters of large nonlinear differential equations. The method was first developed by Dr. Abdulla and later extended by his PhD student Dr. Poteau.</p>
    <a class="project-link" href="https://www.robopoto.com/qlopt/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Convergence Rate Project </h3>
    <ul>
      <li> Python </li>
    </ul>
    <p>Instructionary and referential repository for setting up python projects with CI, testing and other a setup.py.</p>
    <a class="project-link" href="https://www.robopoto.com/conv-rate-package/">Check it out</a>
  </div>
</div>
