<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="icons">
                    {% for key_value in site.socials %}
                        {% if key_value[1] %}
                            <li>
                                <a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
                                    <span class="label">{{ key_value[0] }}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

    </div>

    {% include footer.html %}

</body>

</html>
